@import url('https://fonts.googleapis.com/css2? family= Balsamiq+Sans:ital@1 & family= Comforter & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
#test1 {
    color: aquamarine;
    font-family: Akaya Telivigala;
}
#test2 {
    color: cornflowerblue;
    font-family: Balsamiq Sans;
}